{% extends 'base.html' %}

{% block contain %}
    <section class="about">
        <div class="row">

            <div class="image">

                <img src="/static/groupstydy.jpg" alt="">
            </div>
            <div class="content">
                <h3>Why choose us?</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>
                 Architecto aut voluptatibus quis exercitationem enim amet modi
                  dolor ab distinctio voluptas eum, laudantium cum voluptatem assumenda<br> 
                  aliquam nihil voluptatum ipsam ducimus.</p>


                    <div class ="btn">
                        <a class ="gray" href="visitcourse.html">Our Course</a>
                       
                        
            
                    </div>
        
            </div>
        </div>
            <div class="box-container">
                <div class="box">
                    <i class="fas fa-graduation-cap"></i>
                
                <div>
                    <h3>+1K</h3>
                    <span>Online Courses</span>
                </div>
                </div>
            

                <div class="box">
                    <i class="fas fa-user-graduate"></i>
                
                <div>
                    <h3>+25K</h3>
                    <span>Brilliant student</span>
                </div>
            </div>

                <div class="box">
                    <i class="/static/img/fas fa-chalkboard-user"></i>
                
                <div>
                    <h3>+5K</h3>
                    <span>Expert Teachers</span>
                
            </div>
            </div>

                <div class="box">
                    <i class="fas fa-briefcase"></i>
                
                <div>
                    <h3>+100%</h3>
                    <span>Job Placement</span>
                </div>
            </div>
        
        </div>
        

    </section>
    <!--review section-->

    <section class="Review">
        <h1 class="heading">Student's Reviews</h1>
        <div class="box-container">
            <div class="box">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus quas debitis excepturi cumque, 
                    a iure praesentium tempora. Hic, quasi dignissimos?
                    </p>
                     <div class="user">
                        <img src="/static/stu2.png" alt="">
                        <div>
                            <h3>johni deo</h3>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                               
                            </div>
                        </div>
                     </div>
                
        </div>
        <div class="box">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus quas debitis excepturi cumque, 
                a iure praesentium tempora. Hic, quasi dignissimos? 
                 <div class="user">
                    <img src="/static/stu3.png" alt="">
                    <div>
                        <h3>johni deo</h3>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                           
                        </div>
                    </div>
                 </div>
            
            </div>
    <div class="box">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus quas debitis excepturi cumque, 
            a iure praesentium tempora. Hic, quasi dignissimos?
            </p>
             <div class="user">
                <img src="/static/student.avif" alt="">
                <div>
                    <h3>johni deo</h3>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                       
                    </div>
                </div>
             </div>
        
        </div>
    </div>
    <br>
    <div class="box-container">
<div class="box">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus quas debitis excepturi cumque, 
        a iure praesentium tempora. Hic, quasi dignissimos?
         </p>
         <div class="user">
            <img src="/static/stu2.png" alt="">
            <div>
                <br>
                <h3>johni deo</h3>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                   
                </div>
            </div>
         </div>
    
     </div>
     
<div class="box">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus quas debitis excepturi cumque, 
        a iure praesentium tempora. Hic, quasi dignissimos?
        </p>
         <div class="user">
            <img src="/static/student.avif" alt="">
            <div>
                <h3>johni deo</h3>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                   
                </div>
            </div>
         </div>
    
    </div>
<div class="box">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus quas debitis excepturi cumque, 
        a iure praesentium tempora. Hic, quasi dignissimos?
        </p>
         <div class="user">
            <img src="/static/stu2.png" alt="">
            <div>
                <h3>johni deo</h3>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                   
                </div>
            </div>
         </div>
    
    </div>
    </div>

    </section>
    {% endblock %}

